* {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
}

div.liste {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div p {
    color: rgb(29, 29, 29);
    font-style: italic;
}