.pokemon-battle {
    gap: 10em;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pok-battle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    align-items: center;
}

.pok-battle img {
    margin: auto;
    height: 20vh;
    transform: scaleY(1);
    transition: transform 0.1s ease-in;
}

/*
.pok-battle.pok-ally img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
} */

.status {
    font-size: 1.3em;
    text-align: center;
    width: 14em;
    height: 3em;
    background-color: rgb(255, 255, 255);
    border: 2px solid #1074A9;
}

.pok-ally, .pok-enemy {
    display: none;
}

.miss {
    background-color: #FFEBEE;
    color: #D32F2F;
    border: 1px solid #FFCDD2;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.3em;
}

#fast_move .selected, #charged_move .selected {
    background-color: red;
}

.pok-battle.pok-ally img.little {
    transform: scaleX(-1) scaleY(0.8);
    transition: transform 0.1s ease-in;
}

.pok-battle.pok-enemy img.little {
    transform: scaleY(0.8);
    transition: transform 0.1s ease-in;
}

.no-attack {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-attack h3 {
    margin-top: 0;
    color: #333;
}

.no-attack p {
    color: #555;
}

.no-attack button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.no-attack button:hover {
    background-color: #0056b3;
}

.toast { 
    position: fixed; 
    top: 25px; 
    right: 25px; 
    max-width: 300px; 
    background: #fff; 
    padding: 0.5rem; 
    border-radius: 4px; 
    box-shadow: -1px 1px 10px
        rgba(0, 0, 0, 0.3); 
    z-index: 1023; 
    animation: slideInRight 0.3s 
            ease-in-out forwards, 
        fadeOut 0.5s ease-in-out 
            forwards 3s; 
    transform: translateX(110%); 
    background: #95eab8; 

} 
  
.toast.closing { 
    animation: slideOutRight 0.5s 
        ease-in-out forwards; 
} 
  
.toast-progress { 
    position: absolute; 
    display: block; 
    bottom: 0; 
    left: 0; 
    height: 4px; 
    width: 100%; 
    background: #b7b7b7; 
    animation: toastProgress 3s ease-in-out forwards; 
    background-color: #2ecc71; 

} 
  
.toast-content-wrapper { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 

@keyframes slideInRight { 
    0% { 
        transform: translateX(110%); 
    } 
  
    75% { 
        transform: translateX(-10%); 
    } 
  
    100% { 
        transform: translateX(0%); 
    } 
} 
  
@keyframes slideOutRight { 
    0% { 
        transform: translateX(0%); 
    } 
  
    25% { 
        transform: translateX(-10%); 
    } 
  
    100% { 
        transform: translateX(110%); 
    } 
} 
  
@keyframes fadeOut { 
    0% { 
        opacity: 1; 
    } 
  
    100% { 
        opacity: 0; 
    } 
} 
  
@keyframes toastProgress { 
    0% { 
        width: 100%; 
    } 
  
    100% { 
        width: 0%; 
    } 
}

#finish {
    display: none;
    position: absolute;
    width: 600px;
    height: 200px;
    background-color: #0056b3;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#finish.show {
    display: flex;
    z-index: 2;
}

.battle {
    position: relative;
}

.move {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: pink;
}